*,
*::after,
*::before {
  border: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

strong {
  font-weight: 400;
}

.container {
  max-width: calc(121.6rem + 3rem);
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
}

h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 120%;
  color: #fff;
}

h2 {
  color: #453f51;
  font-family: "PT Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 130%;
}

button {
  border-radius: 0.6rem;
  color: #5f3ca1;
  display: inline-block;
  font-weight: bold;
  line-height: 2.1rem;
  padding: 1.6rem 5.1rem;
  transition: 0.3s;
}

.box-info {
  padding-top: 4.1rem;
  min-height: 32.4rem;
  max-width: 28rem;
}

.box-info.edit {
  background-color: rgba(197, 190, 220, 0.1);
  padding: 4.1rem 3.4rem 6.8rem 4.2rem;
  border-radius: 1.2rem;
}

.box-info.edit .box-info-icon {
  background-color: #fff;
}

.box-info-icon {
  border-radius: 1.2rem;
  height: 6.4rem;
  width: 6.4rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.box-info-subject strong {
  color: #5f3ca1;
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.2rem;
  margin: 3rem 0 2rem;
}

.box-info-text p {
  font-size: 1.6rem;
  line-height: 165%;
  color: #5e5570;
  max-width: 24rem;
  font-weight: 400;
}

.header {
  background-color: #5f3ca1;
  height: 11.9rem;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header .container {
  height: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

@media (max-width: 768px) {
  .header .container {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .header .container {
    justify-content: flex-start;
  }
}

.header-nav ul,
.header-nav a {
  align-items: center;
  display: flex;
}

.header-nav li:last-child span {
  font-weight: bold;
}

.header-nav li + li {
  margin-left: 5.6rem;
}

.header-nav a {
  color: #fcfcfc;
  line-height: 1.9rem;
  transition: 0.3s;
}

.header-nav a:hover {
  color: #ffbf00;
}

.header-nav img {
  margin-right: 1.4rem;
}

@media (max-width: 480px) {
  .header {
    height: 8rem;
    justify-content: flex-start;
  }
  .header-logo img {
    max-width: 16.4rem;
  }
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
}

.hero {
  background-color: #5f3ca1;
  padding: calc(11.9rem + 3.9rem) 0 6.7rem;
}

.hero .container {
  gap: 3.2rem;
  justify-content: space-between;
  display: flex;
}

.hero-left {
  max-width: 48.8rem;
}

.hero-left h1 {
  margin-bottom: 1.6rem;
}

.hero-left p {
  color: #fff;
  font-size: 1.8rem;
  line-height: 150%;
  margin-bottom: 3.2rem;
}

.hero-left button {
  margin-bottom: 8.6rem;
  background-color: #ffbf00;
  color: #5f3ca1;
}

.hero-left button:hover {
  background-color: #fff;
}

.hero-left button:hover {
  color: #5f3ca1;
}

.hero-left a {
  max-width: max-content;
  align-items: center;
  display: flex;
}

.hero-left a:hover span {
  color: #ffbf00;
}

.hero-left a div {
  background-color: #7b5aba;
  border-radius: 0.6rem;
  height: 4.2rem;
  margin-right: 1.6rem;
  width: 4.2rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.hero-left a span {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  transition: 0.3s;
}

.hero-right {
  position: relative;
  top: calc(6.7rem + 1.3rem);
}

@media (max-width: 991px) {
  .hero {
    padding-bottom: 0;
  }
  .hero .container {
    flex-direction: column;
  }
  .hero-left {
    max-width: 100%;
  }
  .hero-left h1,
  .hero-left p {
    text-align: center;
  }
  .hero-left button {
    display: block;
    margin-bottom: 4.1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-left a {
    margin: 0 auto;
  }
  .hero-right {
    top: 1.3rem;
    left: -4%;
  }
  .hero-right img {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .hero .container {
    gap: 5.5rem;
  }
  .hero-left h1 {
    font-size: 4rem;
  }
  .hero-left p {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: calc(8rem + 3.9rem) 0 0;
  }
  .hero-left h1 {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
  }
}

.resources {
  padding: 14.9rem 0 9.9rem;
}

.resources-top {
  margin-bottom: 5.3rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.resources-top h2 {
  max-width: 48rem;
}

.resources-top p {
  color: #5e5570;
  font-weight: 400;
}

.resources-top p span {
  font-weight: bold;
}

.resources-main ul {
  position: relative;
  gap: 3.2rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.resources-main ul::after {
  content: '';
  background-color: rgba(95, 60, 161, 0.1);
  bottom: 0;
  border-radius: 1.2rem;
  display: block;
  height: 4px;
  position: absolute;
  right: 0;
  width: calc(76% - 3.2rem);
}

@media (max-width: 991px) {
  .resources {
    padding: 7.4rem 0 5rem;
  }
  .resources-top {
    flex-direction: column;
  }
  .resources-top h2,
  .resources-top p {
    text-align: center;
  }
  .resources-top h2 {
    margin-bottom: 1.8rem;
  }
  .resources-main ul {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .resources-main ul::after {
    width: 100%;
  }
  .resources-main li:first-child {
    width: 100%;
  }
  .resources-main li:not(:first-child) {
    width: calc((100% / 3) - 2.15rem);
  }
  .resources-main .box-info.edit {
    max-width: 100%;
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  .resources-main .box-info.edit strong,
  .resources-main .box-info.edit p {
    text-align: center;
  }
  .resources-main .box-info-text p {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .resources-main li:not(:first-child),
  .resources-main li:first-child {
    width: calc((100% / 2) - 1.6rem);
  }
  .resources-main .box-info {
    max-width: 100%;
    min-height: 26rem;
    padding: 2rem 0;
  }
  .resources-main .box-info.edit {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .resources-main .box-info.edit p {
    text-align: left;
  }
}

@media (max-width: 600px) {
  .resources li:not(:first-child),
  .resources li:first-child {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .resources-top {
    margin-left: auto;
    margin-right: auto;
    max-width: 302px;
  }
  .resources-top h2 {
    font-size: 2rem;
  }
  .resources-main ul {
    grid-gap: 5.4rem;
  }
  .resources-main .box-info,
  .resources-main .box-info.edit {
    column-gap: 2.8rem;
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: auto;
  }
  .resources-main .box-info-icon {
    grid-row: 2 span;
  }
  .resources-main .box-info-subject strong {
    margin-bottom: 1.4rem;
    margin-top: 0;
    text-align: left !important;
  }
  .resources-main .box-info-text {
    grid-column: 2;
  }
}
