*,
*::before,
*::after {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

p {
  line-height: 150%;
}

.btn {
  display: inline-block;
  padding: 1.2rem 3.4rem;
  transition: 0.3s;
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.01rem;
  line-height: 100%;
  background-color: #f67acb;
  color: #050110;
}

.btn:hover {
  background-color: #f67acb;
}

.btn:hover {
  color: #fff;
}

h1,
h2,
h3 {
  color: #fff;
  font-family: "Sora", sans-serif;
  letter-spacing: -0.1rem;
  line-height: 125%;
}

h1 {
  color: #050110;
  font-size: 4.8rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: calc(121.6rem + 3rem);
  padding: 0 1.5rem;
  width: 100%;
}

/* HEADER */
.header {
  background-color: #f7f8fa;
  height: 8.8rem;
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
}

.header .container {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.header-nav ul a, .header-btn-mobile {
  background-color: #e6ebf2;
  color: #5c6066;
  font-size: 1.5rem;
  letter-spacing: -0.01rem;
  line-height: 100%;
  padding: 1.25rem 2.4rem;
  transition: 0.3s;
}

.header-btn-mobile {
  display: none;
}

.header-nav {
  display: flex;
}

.header-nav ul {
  margin-right: 3.2rem;
  align-items: center;
  display: flex;
}

.header-nav ul li + li {
  margin-left: 3.2rem;
}

.header-nav ul a:hover {
  background: #acb4bf;
  color: #fff;
}

/* HERO */
.hero {
  padding: 16rem 0 7.2rem;
}

.hero .container {
  gap: 3.2rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.hero-left {
  max-width: 62.4rem;
}

.hero-left h1 {
  margin-bottom: 2rem;
}

.hero-left p {
  color: var(--gray-colors-300);
  font-size: 1.8rem;
  max-width: 48.8rem;
  margin-bottom: 5.6rem;
}

.hero-left .btn {
  padding: 2rem 3.567rem;
}

/* FEATURE */
.feature {
  background-color: #050110;
  padding: 10.4rem 0 12rem;
}

.feature-main {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 10.4rem;
  padding-bottom: 12.2rem;
}

.feature-main .title h2,
.feature-main .title p {
  text-align: center;
}

.feature-main .title {
  margin-bottom: 4.8rem;
}

.feature-main .title h2 {
  margin-bottom: 0.8rem;
}

.feature-main .title p {
  color: rgba(255, 255, 255, 0.7);
}

.feature-cards {
  gap: 3.2rem;
  display: flex;
}

.feature-cards-item {
  background-color: #1c1d1f;
  height: 38.2rem;
  padding: 6.4rem 2rem 2rem;
  width: calc(100% / 3);
  align-items: center;
  flex-direction: column;
  display: flex;
}

.feature-cards-item.white {
  background-color: #fff;
}

.feature-cards-item.white h3 {
  color: #050110;
}

.feature-cards-item.white p {
  color: #393c40;
}

.feature-cards-item-icon {
  margin-bottom: 4rem;
}

.feature-cards-item-info {
  max-width: 28.8rem;
}

.feature-cards-item-info h3,
.feature-cards-item-info p {
  text-align: center;
}

.feature-cards-item-info h3 {
  margin-bottom: 0.8rem;
}

.feature-cards-item-info p {
  color: rgba(255, 255, 255, 0.7);
}

.feature-area-top {
  grid-gap: 3.2rem;
  margin-bottom: 5.6rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.feature-area-top .title {
  max-width: 52rem;
}

.feature-area-thumb {
  gap: 3.2rem;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.feature-area-thumb-item {
  background-color: #1c1d1f;
  height: 11.2rem;
  max-width: 100%;
  width: calc((100% / 6) - 2.67rem);
  align-items: center;
  justify-content: center;
  display: flex;
}

/* NEWSLETTER */
.newsletter {
  background-color: var(--gray-colors-200);
  padding: 15.2rem 0;
}

.newsletter .container,
.newsletter-content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.newsletter-content {
  flex-direction: column;
  max-width: 69.4rem;
}

.newsletter-content div {
  margin-bottom: 4rem;
}

.newsletter-content h2,
.newsletter-content p {
  text-align: center;
}

.newsletter-content h2 {
  margin-bottom: 2rem;
}

.newsletter-content p {
  color: rgba(255, 255, 255, 0.7);
}

.newsletter-content button {
  padding: 2rem 4rem;
}

/* FOOTER */
.footer {
  background-color: var(--gray-colors-100);
  padding: 8.8rem 0 4rem;
}

.footer p,
.footer a,
.footer a span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
}

.footer-main {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  gap: 3.2rem;
  justify-content: space-between;
  padding-bottom: 7.2rem;
  margin-bottom: 4rem;
}

.footer-main-left {
  max-width: 28.1rem;
}

.footer-main-left a {
  display: block;
}

.footer-main-left p {
  margin-top: 3.5rem;
  line-height: 150%;
}

.footer-main-right {
  display: flex;
  gap: 3.2rem;
  justify-content: space-between;
  max-width: 77.7rem;
  width: 100%;
}

.footer-main-right strong,
.footer-main-right a {
  font-family: var(--second-font);
}

.footer-main-right strong {
  color: var(--white);
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
  line-height: 125%;
  margin-bottom: 2.4rem;
}

.footer-main-right li + li {
  margin-top: 3.2rem;
}

.footer-main-right li a {
  display: block;
  line-height: 105%;
  transition: 0.3s;
}

.footer-main-right li a:hover,
.footer-main-right li a:hover span {
  color: var(--white);
}

.footer-main-right .networks li a {
  align-items: center;
  display: flex;
}

.footer-main-right .networks li a span {
  margin-left: 0.8rem;
}

.footer-bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer-bottom div {
  align-items: center;
  display: flex;
}

.footer-bottom div span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
  margin-right: 0.8rem;
}
