.header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  height: 8.8rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &-btn-mobile {
    display: none;
    margin-left: 4rem;
  }

  .container {
    @include flex(center, space-between);
  }

  nav,
  nav ul {
    @include flex(center, space-between);
  }

  nav {
    .mobile {
      display: none;
      margin-top: 6rem !important;

      &-sm {
        display: none;
      }

      button.btn-close {
        @include flex(center, center, column);
        background-color: $white;
        border: 2px solid $white;
        border-radius: 50%;
        bottom: 50px;
        height: 55px;
        left: 50%;
        padding: 0;
        position: absolute;
        transform: translateX(-50%);
        width: 55px;

        span {
          background-color: $primary-color-normal;
          border-radius: 5px;
          display: block;
          height: 3px;
          width: 22px;

          & + span {
            margin-top: 5px;
          }

          &:nth-child(1) {
            transform: rotate(50deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(-50deg);
            margin-top: -11px;
          }
        }
      }
    }

    ul {
      margin-right: 3rem;

      li {
        &:not(:first-child) {
          margin-left: 4.8rem;
        }
      }

      a {
        font-weight: 500;
        color: $white;
        line-height: 125%;
      }
    }

    button {
      line-height: 125%;
      padding: 1rem 1.8rem;
    }
  }

  @include responsive(1200) {
    nav {
      ul {
        li {
          &:not(:first-child) {
            margin-left: 3.5rem;
          }
        }
      }
    }
  }

  @include responsive(991) {
    &-logo {
      max-width: 10.8rem;
    }

    &-btn-mobile {
      display: block;
    }

    nav {
      .mobile {
        &-sm {
          display: block;
        }
      }

      ul {
        background-color: #02b3e3;
        display: none;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        left: 0;
        margin-right: 5.9rem;
        position: fixed;
        width: 100%;
        z-index: 9999;

        &.active {
          animation: animaMenuMobile 0.3s forwards;
          display: flex;
        }

        li {
          &:not(:first-child) {
            margin-left: 0;
            margin-top: 3.5rem;
          }

          &.mobile {
            display: block;
          }
        }
      }
    }
  }

  @include responsive(768) {
  }

  @include responsive(600) {
    &-btn-mobile {
      margin-left: 2rem;
    }
  }

  @include responsive(480) {
    height: 7.3rem;

    nav {
      .mobile {
        &-sm {
          display: block;

          button {
            display: block;
          }
        }
      }

      button {
        display: none;
      }
    }
  }
}

@keyframes animaMenuMobile {
  from {
    top: 200vh;
  }

  to {
    top: 0;
  }
}
