@import '../config/mixins';

.testimonial-item {
  background-color: rgba(241, 240, 245, 0.55);
  border-radius: 0.8rem;
  max-width: 38.4rem;
  height: 20.9rem;
  padding: 3.7rem 3.2rem 2.3rem;
  width: 100%;

  @include responsive(1200) {
    height: 24rem;
  }

  @include responsive(1080) {
    height: 26rem;
  }

  @include responsive(768) {
    height: 29rem;
  }

  @include responsive(600) {
    height: 30rem;
  }

  &-user {
    @include flex(center, space-between);
    margin-bottom: 2.1rem;

    strong {
      color: $support-color-500;
      font-family: $second-font;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: -1px;
      line-height: 112%;
    }
  }
}
