html {
  @include responsive(480) {
    font-size: 55%;
  }
}

/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: calc(121.6rem + 3rem);
  padding: 0 1.5rem;
  width: 100%;
}

/* HEADER */
.header {
  background-color: $gray-colors-800;
  height: 8.8rem;
  position: fixed;
  width: 100%;
  z-index: 999;

  @include flex($setFlexPropertyConfig: true);

  .container {
    @include flex(center, space-between, $setFlexPropertyConfig: true);
  }

  &-nav ul a,
  &-btn-mobile {
    background-color: #e6ebf2;
    color: $gray-colors-400;

    font-size: 1.5rem;
    letter-spacing: -0.01rem;
    line-height: 100%;
    padding: 1.25rem 2.4rem;
    transition: 0.3s;
  }

  &-btn-mobile {
    display: none;
  }

  &-nav {
    @include flex($setFlexPropertyConfig: true);

    ul {
      margin-right: 3.2rem;

      @include flex(center, $setFlexPropertyConfig: true);

      li + li {
        margin-left: 3.2rem;
      }

      a:hover {
        background: #acb4bf;
        color: $white;
      }
    }
  }

  @include responsive(1200) {
    &-nav {
      ul {
        margin-right: 1.2rem;

        li + li {
          margin-left: 1.2rem;
        }
      }
    }
  }

  @include responsive(991) {
    .logo {
      z-index: 999;
    }

    &-nav {
      animation: moveMenuMobile forwards 0.3s;
      background-color: #e6ebf3;
      box-shadow: 1px 1px 3px #656565;
      display: none;
      padding-top: 8rem;
      position: absolute;
      top: 0;

      &.active {
        display: block;
      }

      @keyframes moveMenuMobile {
        from {
          opacity: 0;
          left: -150%;
        }
        to {
          opacity: 1;
          left: 0%;
        }
      }

      ul li,
      ul a {
        max-width: 100%;
        width: 100%;
      }

      ul {
        margin-right: 0;
        width: 208px;

        @include flex(center, $direction: column);

        li + li {
          margin-left: 0;
        }

        a {
          border-bottom: 1px solid #ccc;
          padding: 2rem 1.5rem;
        }
      }

      .btn {
        padding: 2rem 1.5rem;
        text-align: left;
        width: 100%;
      }
    }

    &-btn-mobile {
      @include flex(center, $setFlexPropertyConfig: true);

      &.active {
        div {
          span:nth-child(1) {
            transform: rotate(45deg);
            top: 0.5rem;
          }

          span:nth-child(2) {
            opacity: 0;
            display: none;
          }

          span:nth-child(3) {
            top: 0.5rem;
            transform: rotate(-45deg);
          }
        }
      }

      div {
        height: 1.5rem;
        margin-right: 0.5rem;
        position: relative;
        width: 1.6rem;

        @include flex($direction: column, $setFlexPropertyConfig: true);

        span {
          background-color: $gray-colors-400;
          border-radius: 10px;
          height: 0.3rem;
          display: inline-block;
          position: absolute;
          transition: 0.2s;
          width: 1.6rem;

          &:nth-child(2) {
            top: 0.6rem;
          }

          &:nth-child(3) {
            top: 1.2rem;
          }
        }
      }

      span.text {
        font-family: $second-font;
      }
    }
  }

  @include responsive(480) {
    .logo {
      max-width: 130px;
    }

    &-nav ul {
      width: 160px;
    }
  }
}

/* HERO */
.hero {
  padding: 16rem 0 7.2rem;

  .container {
    gap: 3.2rem;

    @include flex(center, space-between, $setFlexPropertyConfig: true);
  }

  &-left {
    max-width: 62.4rem;

    h1 {
      margin-bottom: 2rem;
    }

    p {
      color: $gray-colors-300;
      font-size: 1.8rem;
      max-width: 48.8rem;
      margin-bottom: 5.6rem;
    }

    .btn {
      padding: 2rem 3.567rem;
    }
  }

  @include responsive(991) {
    .container {
      @include flex($direction: column);
    }

    &-left {
      h1,
      p {
        text-align: center;
      }

      p {
        max-width: inherit;
      }

      button {
        display: block;
        margin: 0 auto;
      }
    }

    &-right {
      min-width: auto;
    }
  }

  @include responsive(480) {
    padding: 12.8rem 0 4rem;

    &-left {
      h1 {
        font-size: 4.2rem;
      }

      p {
        margin-bottom: 3rem;
      }
    }
  }
}

/* FEATURE */
.feature {
  background-color: $gray-colors-100;
  padding: 10.4rem 0 12rem;

  &-main {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 10.4rem;
    padding-bottom: 12.2rem;

    .title h2,
    .title p {
      text-align: center;
    }

    .title {
      margin-bottom: 4.8rem;
    }
  }

  &-cards {
    gap: 3.2rem;

    @include flex($setFlexPropertyConfig: true);

    &-item {
      background-color: $gray-colors-200;
      height: 38.2rem;
      padding: 6.4rem 2rem 2rem;
      width: calc(100% / 3);

      @include flex(center, $direction: column, $setFlexPropertyConfig: true);

      &.white {
        background-color: $white;

        h3 {
          color: $gray-colors-100;
        }

        p {
          color: $gray-colors-300;
        }
      }

      &-icon {
        margin-bottom: 4rem;
      }

      &-info {
        max-width: 28.8rem;

        h3,
        p {
          text-align: center;
        }

        h3 {
          margin-bottom: 0.8rem;
        }

        p {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }

  &-area-top {
    grid-gap: 3.2rem;
    margin-bottom: 5.6rem;

    @include flex(center, space-between, $setFlexPropertyConfig: true);

    .title {
      max-width: 52rem;
    }
  }

  &-area-thumb {
    gap: 3.2rem;

    @include flex($justify: center, $wrap: wrap, $setFlexPropertyConfig: true);

    &-item {
      background-color: $gray-colors-200;
      height: 11.2rem;
      max-width: 100%;
      width: calc((100% / 6) - 2.67rem);

      @include flex(center, center, $setFlexPropertyConfig: inline-flex);
    }
  }

  .title {
    h2 {
      margin-bottom: 0.8rem;
    }

    p {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  @include responsive(1200) {
    &-area-thumb {
      &-item {
        width: calc((100% / 5) - 2.56rem);
      }
    }
  }

  @include responsive(991) {
    &-cards {
      @include flex($justify: center, $wrap: wrap);

      &-item {
        width: calc((100% / 2) - 32px);
      }
    }
    &-area-thumb {
      grid-gap: 1.6rem;

      &-item {
        width: calc((100% / 4) - 1.2rem);
      }
    }
  }

  @include responsive(768) {
    &-cards {
      &-item {
        max-width: 480px;
        width: 100%;
      }
    }

    &-area {
      &-top {
        gap: 0;

        @include flex($direction: column);

        h2,
        p {
          text-align: center;
        }

        .title {
          margin-bottom: 3rem;
        }
      }

      &-thumb-item {
        height: 15rem;
        width: calc((100% / 3) - 1.07rem);
      }
    }
  }

  @include responsive(600) {
    &-area {
      &-thumb-item {
        width: calc((100% / 2) - 0.8rem);
      }
    }
  }

  @include responsive(480) {
    /* FEATURE */
    .feature {
      padding: 4rem 0;

      &-main {
        margin-bottom: 4rem;
        padding-bottom: 4rem;
      }

      &-cards {
        &-item {
          height: auto;
          padding: 2rem 2rem 2.5rem;
        }

        &-icon {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

/* NEWSLETTER */
.newsletter {
  background-color: $gray-colors-200;
  padding: 15.2rem 0;

  .container,
  &-content {
    @include flex(center, center, $setFlexPropertyConfig: true);
  }

  &-content {
    max-width: 69.4rem;

    @include flex($direction: column);

    div {
      margin-bottom: 4rem;
    }

    h2,
    p {
      text-align: center;
    }

    h2 {
      margin-bottom: 2rem;
    }

    p {
      color: rgba(255, 255, 255, 0.7);
    }

    button {
      padding: 2rem 4rem;
    }
  }

  @include responsive(480) {
    .newsletter {
      padding: 4rem 0;

      &-content div {
        margin-bottom: 3rem;
      }
    }
  }
}

/* FOOTER */
.footer {
  background-color: $gray-colors-100;
  padding: 8.8rem 0 4rem;

  p,
  a,
  a span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.4rem;
  }

  &-main {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    gap: 3.2rem;
    padding-bottom: 7.2rem;
    margin-bottom: 4rem;

    @include flex($justify: space-between, $setFlexPropertyConfig: true);

    &-left {
      max-width: 28.1rem;

      a {
        display: block;
      }

      p {
        margin-top: 3.5rem;
        line-height: 150%;
      }
    }

    &-right {
      gap: 3.2rem;
      max-width: 77.7rem;
      width: 100%;

      @include flex($justify: space-between, $setFlexPropertyConfig: true);

      strong,
      a {
        font-family: $second-font;
      }

      strong {
        color: $white;
        display: block;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: -0.1rem;
        line-height: 125%;
        margin-bottom: 2.4rem;
      }

      li {
        & + li {
          margin-top: 3.2rem;
        }

        a {
          display: block;
          line-height: 105%;
          transition: 0.3s;

          &:hover,
          &:hover span {
            color: $white;
          }
        }
      }

      .networks li {
        a {
          @include flex(center, $setFlexPropertyConfig: true);

          span {
            margin-left: 0.8rem;
          }
        }
      }
    }
  }

  &-bottom {
    @include flex(center, space-between, $setFlexPropertyConfig: true);

    div {
      @include flex(center, $setFlexPropertyConfig: true);

      span {
        color: rgba(255, 255, 255, 0.7);
        font-size: 1.4rem;
        margin-right: 0.8rem;
      }
    }
  }

  @include responsive(768) {
    .footer {
      &-main {
        @include flex(center, $direction: column, $setFlexPropertyConfig: true);

        &-left a img,
        &-left p {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  @include responsive(600) {
    .footer {
      &-bottom {
        gap: 0.8rem;

        @include flex($direction: column);
      }
    }
  }

  @include responsive(480) {
    .footer,
    .footer-main {
      padding: 4rem 0;
    }

    .footer {
      &-main {
        &-right {
          @include flex(center, $direction: column);

          strong,
          li a {
            text-align: center;
          }

          .networks li a {
            @include flex($justify: center);
          }
        }
      }
    }
  }
}
