.container {
  max-width: calc(121.6rem + 3rem);
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 120%;
  color: $white;
}

h2 {
  color: $title-session-color;
  font-family: 'PT Sans', sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 130%;
}

button {
  // Button Skeleton
  border-radius: 0.6rem;
  color: $primary-color;
  display: inline-block;
  font-weight: bold;
  line-height: 2.1rem;
  padding: 1.6rem 5.1rem;
  transition: 0.3s;
}

.box-info {
  padding-top: 4.1rem;
  min-height: 32.4rem;
  max-width: 28rem;

  &.edit {
    background-color: rgba(197, 190, 220, 0.1);
    padding: 4.1rem 3.4rem 6.8rem 4.2rem;
    border-radius: 1.2rem;

    .box-info-icon {
      background-color: $white;
    }
  }

  &-icon {
    border-radius: 1.2rem;
    height: 6.4rem;
    width: 6.4rem;
    @include flex(center, center, $setFlexPropertyConfig: true);
  }

  &-subject strong {
    color: $primary-color;
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.2rem;
    margin: 3rem 0 2rem;
  }

  &-text p {
    font-size: 1.6rem;
    line-height: 165%;
    color: #5e5570;
    max-width: 24rem;
    font-weight: 400;
  }
}

.header {
  background-color: $primary-color;
  height: 11.9rem;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;

  .container {
    height: 100%;

    @include flex(center, space-between, $setFlexPropertyConfig: true);

    @include responsive(768) {
      @include flex($justify: center);
    }

    @include responsive(480) {
      @include flex($justify: flex-start);
    }
  }

  &-nav {
    ul,
    a {
      @include flex(center, $setFlexPropertyConfig: true);
    }

    li {
      &:last-child span {
        font-weight: bold;
      }

      & + li {
        margin-left: 5.6rem;
      }
    }

    a {
      color: $gray-light;
      line-height: 1.9rem;
      transition: 0.3s;

      &:hover {
        color: $accent-color;
      }
    }

    img {
      margin-right: 1.4rem;
    }
  }

  @include responsive(480) {
    height: 8rem;

    @include flex($justify: flex-start);

    &-logo img {
      max-width: 16.4rem;
    }
  }

  @include responsive(768) {
    &-nav {
      display: none;
    }
  }
}
