.hero {
  background-color: $primary-color;
  padding: calc(11.9rem + 3.9rem) 0 6.7rem;

  .container {
    gap: 3.2rem;

    @include flex($justify: space-between, $setFlexPropertyConfig: true);
  }

  &-left {
    max-width: 48.8rem;

    h1 {
      margin-bottom: 1.6rem;
    }

    p {
      color: $white;
      font-size: 1.8rem;
      line-height: 150%;
      margin-bottom: 3.2rem;
    }

    button {
      margin-bottom: 8.6rem;

      @include btn(
        $bg: $accent-color,
        $bgHover: $white,
        $colorText: $primary-color
      );
    }

    a {
      max-width: max-content;

      &:hover span {
        color: $accent-color;
      }

      @include flex(center, $setFlexPropertyConfig: true);

      div {
        background-color: $primary-color-light;
        border-radius: 0.6rem;
        height: 4.2rem;
        margin-right: 1.6rem;
        width: 4.2rem;

        @include flex(center, center, $setFlexPropertyConfig: true);
      }

      span {
        color: $white;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.9rem;
        transition: 0.3s;
      }
    }
  }

  &-right {
    position: relative;
    top: calc(6.7rem + 1.3rem);
  }

  @include responsive(991) {
    padding-bottom: 0;

    .container {
      flex-direction: column;
    }

    &-left {
      max-width: 100%;

      h1,
      p {
        text-align: center;
      }

      button {
        display: block;
        margin-bottom: 4.1rem;
        margin-left: auto;
        margin-right: auto;
      }

      a {
        margin: 0 auto;
      }
    }

    &-right {
      top: 1.3rem;
      left: -4%;

      img {
        margin: 0 auto;
      }
    }
  }

  @include responsive(768) {
    .container {
      gap: 5.5rem;
    }

    &-left {
      h1 {
        font-size: 4rem;
      }

      p {
        font-size: 1.6rem;
      }
    }
  }

  @include responsive(480) {
    padding: calc(8rem + 3.9rem) 0 0;

    &-left {
      h1 {
        font-size: 3.2rem;
        margin-bottom: 2.4rem;
      }
    }
  }
}

.resources {
  padding: 14.9rem 0 9.9rem;

  &-top {
    margin-bottom: 5.3rem;

    @include flex(center, space-between, $setFlexPropertyConfig: true);

    h2 {
      max-width: 48rem;
    }

    p {
      color: $complementary-color;
      font-weight: 400;

      span {
        font-weight: bold;
      }
    }
  }

  &-main {
    ul {
      position: relative;
      gap: 3.2rem;

      &::after {
        content: '';
        background-color: rgba(95, 60, 161, 0.1);
        bottom: 0;
        border-radius: 1.2rem;
        display: block;
        height: 4px;
        position: absolute;
        right: 0;
        width: calc(76% - 3.2rem);
      }

      @include flex(center, space-between, $setFlexPropertyConfig: true);
    }
  }

  @include responsive(991) {
    padding: 7.4rem 0 5rem;

    &-top {
      flex-direction: column;

      h2,
      p {
        text-align: center;
      }

      h2 {
        margin-bottom: 1.8rem;
      }
    }

    &-main {
      ul {
        flex-wrap: wrap;
        justify-content: flex-start;

        &::after {
          width: 100%;
        }
      }

      li {
        &:first-child {
          width: 100%;
        }

        &:not(:first-child) {
          width: calc((100% / 3) - 2.15rem);
        }
      }

      .box-info {
        &.edit {
          max-width: 100%;
          padding: 2rem;

          @include flex(center, center, column, $setFlexPropertyConfig: true);

          strong,
          p {
            text-align: center;
          }
        }

        &-text p {
          max-width: 100%;
        }
      }
    }
  }

  @include responsive(768) {
    &-main {
      li:not(:first-child),
      li:first-child {
        width: calc((100% / 2) - 1.6rem);
      }

      .box-info {
        max-width: 100%;
        min-height: 26rem;
        padding: 2rem 0;

        &.edit {
          align-items: flex-start;
          justify-content: flex-start;

          p {
            text-align: left;
          }
        }
      }
    }
  }

  @include responsive(600) {
    li:not(:first-child),
    li:first-child {
      width: 100%;
    }
  }

  @include responsive(480) {
    &-top {
      margin-left: auto;
      margin-right: auto;
      max-width: 302px;

      h2 {
        font-size: 2rem;
      }
    }

    &-main {
      ul {
        grid-gap: 5.4rem;
      }

      .box-info,
      .box-info.edit {
        column-gap: 2.8rem;
        display: grid;
        grid-template-columns: auto 1fr;
        min-height: auto;
      }

      .box-info {
        &-icon {
          grid-row: 2 span;
        }

        &-subject {
          strong {
            margin-bottom: 1.4rem;
            margin-top: 0;
            text-align: left !important;
          }
        }

        &-text {
          grid-column: 2;
        }
      }
    }
  }
}
