// COLORS
$primary-color: #5f3ca1;
$primary-color-light: #7b5aba;
$accent-color: #ffbf00;
$title-session-color: #453f51; // gray 01
$complementary-color: #5e5570; // gray 02
$white: #fff;

// FONTS
$first-font: 'PT Sans', sans-serif; // Titles and buttons
$second-font: 'Lato', sans-serif; // Paragraph and links
