*,
*::after,
*::before {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

p {
  color: #5f5c6b;
  font-size: 1.8rem;
  line-height: 150%;
}

a {
  color: #0073ce;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #ffc800 !important;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  line-height: 100%;
}

.container {
  margin: 0 auto;
  max-width: calc(121.6rem + 3rem);
  padding: 0 1.5rem;
  width: 100%;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 4rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 2rem;
  }
}

button {
  border-radius: 12.2rem;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #ffc800;
  color: #855b35;
  padding: 1.6rem 2.6rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffdc5c;
}

button.outline {
  background-color: transparent;
  border: 1px solid #00a5f0;
  color: #00a5f0;
  transition: 0.3s;
}

button.outline:hover {
  background-color: #00a5f0;
  color: #fff;
}

button.outline-transparent {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

button.outline-transparent:hover {
  background-color: #fff;
  color: #00d7d7;
}

h1,
h2,
h3,
h4 {
  color: #33303e;
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  letter-spacing: -1px;
  line-height: 112%;
}

h3,
h4 {
  letter-spacing: -0.5px;
}

h1 {
  font-size: 6.4rem;
  font-weight: 600;
}

@media (max-width: 1080px) {
  h1 {
    font-size: 4.8rem;
    padding-right: 6rem;
  }
}

@media (max-width: 680px) {
  h1 {
    font-size: 3.8rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 3.2rem;
  }
}

h2 {
  font-weight: bold;
  font-size: 4rem;
}

@media (max-width: 1080px) {
  h2 {
    font-size: 3.6rem;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 2.8rem;
  }
}

@media (max-width: 600px) {
  h2 span {
    font-size: 2.4rem !important;
    margin-bottom: 1.1rem;
  }
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
}

@media (max-width: 600px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 112%;
}

.header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  height: 8.8rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 480px) {
  .header {
    height: 7.3rem;
  }
}

@media (max-width: 768px) {
  .header-logo {
    max-width: 10.8rem;
  }
}

.header-btn-mobile {
  display: none;
  margin-left: 4rem;
}

@media (max-width: 991px) {
  .header-btn-mobile {
    display: block;
  }
}

@media (max-width: 600px) {
  .header-btn-mobile {
    margin-left: 2rem;
  }
}

.header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header nav,
.header nav ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header nav .mobile {
  display: none;
  margin-top: 6rem !important;
}

.header nav .mobile-sm {
  display: none;
}

@media (max-width: 480px) {
  .header nav .mobile-sm {
    display: block;
  }
  .header nav .mobile-sm button {
    display: block;
  }
}

@media (max-width: 991px) {
  .header nav .mobile {
    display: block;
  }
}

.header nav .mobile button.btn-close {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0;
  height: 55px;
  width: 55px;
}

.header nav .mobile button.btn-close span {
  background-color: #fff;
  border-radius: 5px;
  display: block;
  height: 3px;
  width: 22px;
}

.header nav .mobile button.btn-close span + span {
  margin-top: 5px;
}

.header nav .mobile button.btn-close span:nth-child(1) {
  transform: rotate(50deg);
}

.header nav .mobile button.btn-close span:nth-child(2) {
  opacity: 0;
}

.header nav .mobile button.btn-close span:nth-child(3) {
  transform: rotate(-50deg);
  margin-top: -11px;
}

.header nav ul {
  background-color: #02b3e3;
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  margin-right: 5.9rem;
  transition: top 0.3s ease-in 0.2s;
  top: 200vh;
  width: 100%;
  z-index: 9999;
}

@media (max-width: 991px) {
  .header nav ul.active {
    display: flex;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 1200px) {
  .header nav ul {
    margin-right: 3rem;
  }
}

@media (max-width: 991px) {
  .header nav ul {
    display: none;
  }
}

.header nav ul li:not(:first-child) {
  margin-left: 4.8rem;
}

@media (max-width: 1200px) {
  .header nav ul li:not(:first-child) {
    margin-left: 3.5rem;
  }
}

@media (max-width: 991px) {
  .header nav ul li:not(:first-child) {
    margin-left: 0;
    margin-top: 3.5rem;
  }
}

.header nav ul a {
  font-weight: 500;
  color: #fff;
  line-height: 125%;
}

.header nav button {
  line-height: 125%;
  padding: 1rem 1.8rem;
}

@media (max-width: 480px) {
  .header nav button {
    display: none;
  }
}

.testimonial-item {
  background-color: rgba(241, 240, 245, 0.55);
  border-radius: 0.8rem;
  max-width: 38.4rem;
  height: 20.9rem;
  padding: 3.7rem 3.2rem 2.3rem;
  width: 100%;
}

@media (max-width: 1200px) {
  .testimonial-item {
    height: 24rem;
  }
}

@media (max-width: 1080px) {
  .testimonial-item {
    height: 26rem;
  }
}

@media (max-width: 768px) {
  .testimonial-item {
    height: 29rem;
  }
}

@media (max-width: 600px) {
  .testimonial-item {
    height: 30rem;
  }
}

.testimonial-item-user {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.1rem;
}

.testimonial-item-user strong {
  color: #4e4b59;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 112%;
}

.footer {
  background-color: #0073ce;
}

.footer-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px rgba(73, 197, 253, 0.2) solid;
  padding: 4.9rem 0;
}

@media (max-width: 600px) {
  .footer-top {
    flex-direction: column;
    padding-top: 4.6rem;
    padding-bottom: 4.3rem;
  }
}

.footer-top-network,
.footer-top-network ul {
  align-items: center;
  display: flex;
}

@media (max-width: 600px) {
  .footer-top-network {
    flex-direction: column;
  }
}

.footer-top-network span {
  color: #fff;
  font-size: 1.4rem;
  line-height: 125%;
  margin-right: 3rem;
  opacity: 0.7;
}

@media (max-width: 600px) {
  .footer-top-network span {
    margin-bottom: 2rem;
    margin-right: 0;
  }
}

.footer-top-network ul li:not(:first-child) {
  margin-left: 3rem;
}

@media (max-width: 600px) {
  .footer-top > a {
    margin-bottom: 3.2rem;
  }
}

.footer-main {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px rgba(73, 197, 253, 0.2) solid;
  column-gap: 3.2rem;
  padding: 5.7rem 0 6.2rem;
}

@media (max-width: 1200px) {
  .footer-main {
    align-items: center;
    flex-direction: column;
    row-gap: 3.2rem;
  }
}

@media (max-width: 991px) {
  .footer-main {
    position: relative;
  }
}

@media (max-width: 768px) {
  .footer-main {
    position: initial;
  }
}

@media (max-width: 480px) {
  .footer-main {
    border-bottom: none;
    padding-bottom: 5rem;
    row-gap: 4rem;
  }
}

.footer-main-left {
  display: flex;
  justify-content: space-between;
  column-gap: 3.2rem;
  max-width: 86rem;
  width: 100%;
}

@media (max-width: 991px) {
  .footer-main-left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    row-gap: 7.6rem;
  }
}

@media (max-width: 768px) {
  .footer-main-left {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .footer-main-left-item {
    padding-right: 1.3rem;
  }
}

.footer-main-left-item strong {
  color: #fff;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 2.5rem;
}

.footer-main-left-item li:not(:first-child) {
  margin-top: 2.9rem;
}

.footer-main-left-item li a {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  opacity: 0.7;
}

.footer-main-left-item li a:hover {
  opacity: 1;
}

.footer-main-right {
  max-width: 28rem;
  width: 100%;
}

@media (max-width: 1200px) {
  .footer-main-right {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    column-gap: 3.2rem;
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .footer-main-right {
    flex-direction: column;
    bottom: 10rem;
    max-width: 100%;
    min-width: 27.2rem;
    position: absolute;
    right: 0;
    width: calc(100% - 69%);
  }
}

@media (max-width: 768px) {
  .footer-main-right {
    min-width: 100%;
    position: inherit;
  }
}

.footer-main-right-info {
  align-items: center;
  display: flex;
  background-color: rgba(0, 165, 240, 0.23);
  border-radius: 6px;
  padding: 1.7rem 1.5rem 1.7rem 2.5rem;
}

@media (max-width: 1200px) {
  .footer-main-right-info {
    margin-top: 0;
    min-width: 26.5rem;
  }
}

@media (max-width: 991px) {
  .footer-main-right-info {
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  .footer-main-right-info {
    flex-direction: column;
  }
}

.footer-main-right-info + .footer-main-right-info {
  margin-top: 2.4rem;
}

@media (max-width: 1200px) {
  .footer-main-right-info + .footer-main-right-info {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .footer-main-right-info + .footer-main-right-info {
    margin-top: 2.4rem;
  }
}

.footer-main-right-info img {
  margin-right: 2.4rem;
}

@media (max-width: 768px) {
  .footer-main-right-info img {
    margin-bottom: 1.6rem;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .footer-main-right-info img {
    display: none;
  }
}

.footer-main-right-info div strong {
  color: #fff;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 150%;
}

@media (max-width: 991px) {
  .footer-main-right-info div strong {
    text-align: center;
  }
}

.footer-main-right-info div span {
  color: #fff;
  font-size: 1.4rem;
  line-height: 150%;
}

@media (max-width: 991px) {
  .footer-main-right-info div span {
    text-align: center;
  }
}

.footer-bottom {
  display: flex;
  border-bottom: 4px #ffc800 solid;
  padding: 3.9rem 0 3.4rem;
}

@media (max-width: 480px) {
  .footer-bottom {
    align-items: center;
    flex-direction: column;
    margin: auto;
    max-width: 29.6rem;
    padding-top: 0;
  }
}

.footer-bottom-icon {
  margin-right: 2.5rem;
}

@media (max-width: 480px) {
  .footer-bottom-icon {
    margin-bottom: 1.7rem;
    margin-right: 0;
  }
}

.footer-bottom p {
  color: #fff;
  font-size: 1.4rem;
  line-height: 150%;
  opacity: 0.8;
  max-width: 66rem;
}

@media (max-width: 480px) {
  .footer-bottom p {
    text-align: center;
  }
}
