@media (max-width: 1200px) {
  /* HEADER */
  .header-nav ul {
    margin-right: 1.2rem;
  }

  .header-nav ul li + li {
    margin-left: 1.2rem;
  }

  /* FEATURE */
  .feature-area-thumb-item {
    width: calc((100% / 5) - 2.56rem);
  }
}

@media (max-width: 991px) {
  /* HEADER */
  .header-nav {
    display: none;
  }

  .header-btn-mobile {
    display: block;
  }

  /* HERO */
  .hero .container {
    flex-direction: column;
  }

  .hero-left h1,
  .hero-left p {
    text-align: center;
  }

  .hero-left p {
    max-width: inherit;
  }

  .hero-left button {
    display: block;
    margin: 0 auto;
  }

  .hero-right {
    min-width: auto;
  }

  /* FEATURE */
  .feature-cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .feature-cards-item {
    width: calc((100% / 2) - 32px);
  }

  .feature-area-thumb {
    grid-gap: 1.6rem;
  }

  .feature-area-thumb-item {
    width: calc((100% / 4) - 1.2rem);
  }
}
@media (max-width: 768px) {
  /* FEATURE */
  .feature-cards-item {
    max-width: 480px;
    width: 100%;
  }

  .feature-area-top {
    flex-direction: column;
    gap: 0;
  }

  .feature-area-top h2,
  .feature-area-top p {
    text-align: center;
  }

  .feature-area-top .title {
    margin-bottom: 3rem;
  }

  .feature-area-thumb-item {
    height: 15rem;
    width: calc((100% / 3) - 1.07rem);
  }
}

@media (max-width: 600px) {
  /* FEATURE */
  .feature-area-thumb-item {
    width: calc((100% / 2) - 0.8rem);
  }
}

@media (max-width: 480px) {
  html {
    font-size: 55%;
  }

  /* HEADER */
  header .logo {
    max-width: 130px;
  }

  /* HERO */
  .hero {
    padding: 4rem 0;
  }

  .hero-left h1 {
    font-size: 4.2rem;
  }

  .hero-left p {
    margin-bottom: 3rem;
  }

  /* FEATURE */
  .feature {
    padding-bottom: 4rem;
  }

  .feature-main {
    margin-bottom: 4rem;
    padding-bottom: 4rem;
  }
}
