@media (max-width: 1200px) {
  /* HEADER */
  .header-nav ul {
    margin-right: 1.2rem;
  }

  .header-nav ul li + li {
    margin-left: 1.2rem;
  }

  /* FEATURE */
  .feature-area-thumb-item {
    width: calc((100% / 5) - 2.56rem);
  }
}

@media (max-width: 991px) {
  /* HEADER */
  .header-btn-mobile {
    align-items: center;
    display: flex;
  }

  .header .logo {
    z-index: 999;
  }

  .header-nav {
    animation: moveMenuMobile forwards 0.3s;
    background-color: #e6ebf3;
    box-shadow: 1px 1px 3px #ccc;
    display: none;
    padding-top: 8rem;
    position: absolute;
    top: 0;
  }

  .header-nav.active {
    display: block;
  }

  @keyframes moveMenuMobile {
    from {
      opacity: 0;
      left: -150%;
    }
    to {
      opacity: 1;
      left: 0%;
    }
  }

  .header-nav ul li,
  .header-nav ul a {
    max-width: 100%;
    width: 100%;
  }

  .header-nav ul {
    align-items: flex-start;
    flex-direction: column;
    margin-right: 0;
    width: 170px;
  }

  .header-nav ul li + li {
    margin-left: 0;
  }

  .header-nav ul a {
    border-bottom: 1px solid #ccc;
    padding: 2rem 1.5rem;
  }

  .header-nav .btn {
    text-align: left;
    padding: 2rem 1.5rem;
    width: 170px;
  }

  /* HERO */
  .hero .container {
    flex-direction: column;
  }

  .hero-left h1,
  .hero-left p {
    text-align: center;
  }

  .hero-left p {
    max-width: inherit;
  }

  .hero-left button {
    display: block;
    margin: 0 auto;
  }

  .hero-right {
    min-width: auto;
  }

  /* FEATURE */
  .feature-cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .feature-cards-item {
    width: calc((100% / 2) - 32px);
  }

  .feature-area-thumb {
    grid-gap: 1.6rem;
  }

  .feature-area-thumb-item {
    width: calc((100% / 4) - 1.2rem);
  }
}
@media (max-width: 768px) {
  /* FEATURE */
  .feature-cards-item {
    max-width: 480px;
    width: 100%;
  }

  .feature-area-top {
    flex-direction: column;
    gap: 0;
  }

  .feature-area-top h2,
  .feature-area-top p {
    text-align: center;
  }

  .feature-area-top .title {
    margin-bottom: 3rem;
  }

  .feature-area-thumb-item {
    height: 15rem;
    width: calc((100% / 3) - 1.07rem);
  }

  /* FOOTER */
  .footer-main {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .footer-main-left a img,
  .footer-main-left p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 600px) {
  /* FEATURE */
  .feature-area-thumb-item {
    width: calc((100% / 2) - 0.8rem);
  }

  /* FOOTER */
  .footer-bottom {
    gap: 0.8rem;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 55%;
  }

  /* HEADER */
  header .logo {
    max-width: 130px;
  }

  /* HERO */
  .hero {
    padding: 4rem 0;
  }

  .hero-left h1 {
    font-size: 4.2rem;
  }

  .hero-left p {
    margin-bottom: 3rem;
  }

  /* FEATURE */
  .feature {
    padding: 4rem 0;
  }

  .feature-main {
    margin-bottom: 4rem;
    padding-bottom: 4rem;
  }

  .feature-cards-item {
    height: auto;
    padding: 2rem 2rem 2.5rem;
  }

  .feature-cards-item-icon {
    margin-bottom: 2rem;
  }

  /* NEWSLETTER */
  .newsletter {
    padding: 4rem 0;
  }

  .newsletter-content div {
    margin-bottom: 3rem;
  }

  /* FOOTER */
  .footer,
  .footer-main {
    padding: 4rem 0;
  }

  .footer-main-right {
    align-items: center;
    flex-direction: column;
  }

  .footer-main-right strong,
  .footer-main-right li a {
    text-align: center;
  }

  .footer-main-right .networks li a {
    justify-content: center;
  }
}
