/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: calc(1216px + 30px);
  padding: 0 15px;
  width: 100%;
}

/* HEADER */
.header {
  background-color: var(--gray-colors-800);
  height: 8.8rem;
  display: flex;
}

.header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.header-nav ul {
  align-items: center;
  display: flex;
  margin-right: 3.2rem;
}

.header-nav ul li + li {
  margin-left: 3.2rem;
}

.header-nav ul a,
.header-btn-mobile {
  background-color: #e6ebf2;
  color: var(--gray-colors-400);
  font-family: var(--second-font);
  font-size: 1.5rem;
  letter-spacing: -0.01rem;
  line-height: 100%;
  padding: 1.25rem 2.4rem;
  transition: 0.3s;
}

.header-nav ul a:hover {
  background: #acb4bf;
  color: var(--white);
}

.header-btn-mobile {
  display: none;
}

/* HERO */
.hero {
  padding: 7.2rem 0;
}

.hero .container {
  align-items: center;
  display: flex;
  gap: 3.2rem;
  justify-content: space-between;
}

.hero-left {
  max-width: 62.4rem;
}

.hero-left h1 {
  margin-bottom: 2rem;
}

.hero-left p {
  color: var(--gray-colors-300);
  font-size: 1.8rem;
  max-width: 48.8rem;
  margin-bottom: 5.6rem;
}

.hero-left .btn {
  padding: 2rem 3.567rem;
}

.hero-right {
  min-width: 480px;
}
