.hero {
  background: url(../../img/hero-bg.jpg) no-repeat;
  background-position: bottom right;
  background-size: cover;
  height: 70rem;
  padding-top: 18.9rem;
}

.hero-content {
  max-width: 74rem;
}

.hero-content-new {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 3.3rem;
  font-weight: 400;
  align-items: center;
  display: flex;
}

.hero-content-new span.flag {
  background-color: #006d8f;
  border-radius: 120px;
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin-right: 1.2rem;
  min-width: 5.4rem;
  padding: 0.325rem 0.9rem 0.325rem 1.2rem;
  text-align: center;
}

.hero-content h1 {
  color: #fff;
  margin-bottom: 2.4rem;
}

.hero-content p:not(.hero-content-new) {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 4rem;
}

.hero-content button {
  height: 4.8rem;
  padding: 1.5rem 4rem;
}

.zero-tariffs {
  padding: 9.6rem 0 8.1rem;
}

.zero-tariffs .container {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
}

.zero-tariffs-left {
  max-width: 62.5rem;
}

.zero-tariffs-left ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6.4rem 1.6rem;
}

.zero-tariffs-left ul li {
  width: 50%;
}

.zero-tariffs-right {
  margin-top: calc(-9.7rem + -7rem);
  max-width: 43.7rem;
}

.zero-tariffs-right ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
}

.zero-tariffs-right ul li:first-child {
  position: relative;
  margin-top: 17.4rem;
}

.zero-tariffs-right ul li:first-child::after {
  content: '';
  border-radius: 10px;
  box-shadow: 40px 55px 14px #49494930;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.zero-tariffs-right ul li:first-child img {
  z-index: 1;
  position: relative;
}

.zero-tariffs-right ul li:last-child {
  margin-top: -17.4rem;
}

.zero-tariffs-right ul li img {
  border-radius: 10px;
}

.zero-tariffs h3 {
  margin-bottom: 10rem;
}

.products {
  padding-bottom: 13.4rem;
}

.products-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8.7rem;
}

.products-top nav ul {
  align-items: center;
  display: flex;
  border: 1px solid #c4c4c4;
  border-radius: 120px;
  gap: 3.2rem;
  padding: 0.8rem 1.1rem;
}

.products-top nav ul li:first-child button {
  padding: 1.8rem 8.4rem;
}

.products-top nav ul li:last-child button {
  padding: 1.8rem 4.7rem;
}

.products-main {
  display: flex;
  justify-content: space-between;
  background: url(../../img/account-bg.jpg) no-repeat;
  background-size: cover;
  border-radius: 1.2rem;
  max-height: 42.4rem;
  padding: 9.7rem 7.2rem 5.3rem 10.3rem;
  position: relative;
}

.products-main-left {
  max-width: 34.1rem;
}

.products-main-left strong {
  color: #fff;
  display: block;
  font-family: "Montserrat", arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -0.03rem;
  line-height: 130%;
  margin-bottom: 1.6rem;
}

.products-main-left p {
  margin-bottom: 5rem;
}

.products-main-left-approximation {
  align-items: center;
  display: flex;
}

.products-main-left-approximation span {
  color: #fff;
}

.products-main-left-approximation div {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  height: 3.2rem;
  margin-right: 1.6rem;
  width: 3.2rem;
}

.products-main-right {
  height: 63.7rem;
  margin-top: -9.7rem;
  max-width: 62.2rem;
  position: relative;
  top: -7.9rem;
  width: 100%;
}

.products-main-right img {
  position: absolute;
}

.products-main-right img:nth-child(1) {
  z-index: 2;
}

.products-main-right img:nth-child(2) {
  bottom: 0;
  left: 4rem;
}

.products-main-right img:nth-child(3) {
  bottom: 18.7rem;
  right: 0;
}

@media (max-width: 1080px) {
  .hero {
    background-position: 55% 100%;
  }
  .hero-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .hero-content p,
  .hero-content h1 {
    text-align: center;
    text-shadow: 1px 1px 4px #00000066;
  }
  .hero-content p {
    margin-bottom: 1.2rem;
  }
  .zero-tariffs-right ul li {
    width: calc(50% - 1.8rem);
  }
  .zero-tariffs-left ul li {
    width: calc(50% - 1.6rem);
  }
}

@media (max-width: 991px) {
  .hero {
    background: #222;
    padding-bottom: 10.6rem;
    padding-top: 16rem;
    height: auto;
  }
  .hero-content {
    padding: 0 10px;
  }
  .zero-tariffs {
    flex-direction: column;
    padding-top: 8rem;
  }
  .zero-tariffs .container {
    flex-direction: column;
  }
  .zero-tariffs-left {
    margin: 0 auto 6rem;
    max-width: 70rem;
  }
  .zero-tariffs-left ul {
    gap: 6.4rem 3.2rem;
  }
  .zero-tariffs-left ul li {
    max-width: calc(50% - 1.6rem);
  }
  .zero-tariffs-left ul li p {
    max-width: 100%;
  }
  .zero-tariffs-right {
    flex-wrap: unset;
    margin-top: 0;
    max-width: 100%;
  }
  .zero-tariffs-right ul {
    flex-wrap: unset;
  }
  .zero-tariffs-right ul li {
    margin-top: 0 !important;
  }
  .zero-tariffs-right ul li:first-child::after {
    box-shadow: 2px 5px 14px #49494930;
  }
  .zero-tariffs h2 {
    text-align: center;
  }
  .zero-tariffs h3 {
    text-align: center;
    margin-bottom: 6.4rem;
  }
}

@media (max-width: 768px) {
  .hero-content {
    padding: 0;
  }
  .hero-content-new span.flag {
    display: none;
  }
  .zero-tariffs-left ul li {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 40rem !important;
    width: 100% !important;
  }
  .zero-tariffs-left ul li .block-info-icon::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .zero-tariffs-left ul li h4,
  .zero-tariffs-left ul li p {
    text-align: center;
  }
  .zero-tariffs-left ul li img {
    margin: auto;
  }
  .zero-tariffs-right {
    display: none;
  }
}

@media (max-width: 480px) {
  .zero-tariffs-left ul li {
    max-width: 27rem !important;
  }
}
