*,
*::after,
*::before {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", arial, sans-serif;
  font-size: 1.6rem;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

p,
span,
strong,
a {
  font-weight: 500;
  line-height: 150%;
}

p {
  color: #616161;
}

a {
  font-family: "Montserrat", arial, sans-serif;
  text-decoration: none;
  transition: 0.3s;
  color: #616161;
}

a:hover {
  color: #ffce2e;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Montserrat", arial, sans-serif;
  line-height: 112.5%;
}

.container {
  margin: 0 auto;
  max-width: calc(121.6rem + 3rem);
  padding: 0 1.5rem;
  width: 100%;
}
