.hero {
  background: url(../../img/bg-hero.svg) no-repeat center center;
  height: 78.6rem;
  padding-top: calc(9.2rem + 8.8rem);
}

@media (max-width: 1366px) {
  .hero {
    height: 73rem;
  }
}

@media (max-width: 1080px) {
  .hero {
    height: 63rem;
    padding-top: calc(5.5rem + 8.8rem);
  }
}

@media (max-width: 991px) {
  .hero {
    background-size: cover;
    height: 89.1rem;
    padding-top: calc(6.2rem + 8.8rem);
  }
}

@media (max-width: 480px) {
  .hero {
    height: 739px;
    padding-top: calc(5.1rem + 7.3rem);
  }
}

.hero .container {
  display: flex;
  grid-gap: 32px;
}

@media (max-width: 991px) {
  .hero .container {
    grid-row-gap: 4.5rem;
    flex-direction: column;
  }
}

.hero-left {
  max-width: 68.3rem;
}

@media (max-width: 1200px) {
  .hero-left {
    max-width: 66rem;
  }
}

@media (max-width: 1080px) {
  .hero-left {
    max-width: 59rem;
  }
}

@media (max-width: 991px) {
  .hero-left {
    align-items: center;
    flex-direction: column;
    max-width: 100%;
  }
}

.hero-left h3 {
  color: #fff;
  opacity: 0.8;
  line-height: 120%;
  margin-bottom: 3.1rem;
}

@media (max-width: 991px) {
  .hero-left h3 {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero-left h3 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
}

.hero-left h1 {
  color: #fff;
  margin-bottom: 3.9rem;
}

@media (max-width: 991px) {
  .hero-left h1 {
    margin-bottom: 2.6rem;
    max-width: 68.5rem;
    padding-right: 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero-left h1 {
    margin-bottom: 3.7rem;
  }
}

.hero-left-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 6.4rem;
  max-width: 61.5rem;
}

@media (max-width: 1200px) {
  .hero-left-list {
    max-width: 57rem;
  }
}

@media (max-width: 1080px) {
  .hero-left-list {
    max-width: 50rem;
  }
}

@media (max-width: 991px) {
  .hero-left-list {
    margin-top: 3.9rem;
    max-width: 58.8rem;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .hero-left-list {
    flex-direction: column;
    max-width: 100%;
  }
}

.hero-left-list li {
  align-items: center;
  display: flex;
  max-width: 62.1rem;
}

@media (max-width: 480px) {
  .hero-left-list li:not(:first-child) {
    margin-top: 1rem;
  }
}

.hero-left-list li .icon {
  align-items: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(53, 202, 226, 0.4) 0%, rgba(53, 202, 226, 0) 100%);
  border-radius: 50%;
  height: 4.8rem;
  width: 4.8rem;
}

@media (max-width: 991px) {
  .hero-left-list li .icon {
    height: 4.3rem;
    width: 4.3rem;
  }
}

@media (max-width: 480px) {
  .hero-left-list li .icon {
    background: transparent;
    height: 3rem;
    width: 1.8rem;
  }
}

.hero-left-list li span {
  color: #fff;
  font-size: 1.8rem;
  line-height: 150%;
  margin-left: 1.2rem;
  max-width: 12.7rem;
}

@media (max-width: 1080px) {
  .hero-left-list li span {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .hero-left-list li span {
    max-width: 100%;
    min-width: 21rem;
  }
}

@media (max-width: 480px) {
  .hero-left-list li span {
    margin-left: 1.8rem;
  }
}

@media (max-width: 600px) {
  .hero-left-list li span br {
    display: none;
  }
}

.hero-right {
  margin-right: -20.5rem;
  width: 100%;
}

@media (max-width: 1366px) {
  .hero-right {
    margin-right: -10rem;
  }
}

@media (max-width: 1200px) {
  .hero-right {
    margin-right: -15rem;
  }
}

.hero-right h2 {
  color: #fff;
  display: block;
  font-size: 5.6rem;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 8.4rem;
  margin-bottom: 6.7rem;
  margin-right: -25px;
  opacity: 0.4;
  position: relative;
  right: -58px;
}

@media (max-width: 1366px) {
  .hero-right h2 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    right: 0;
  }
}

@media (max-width: 1200px) {
  .hero-right h2 {
    font-size: 4rem;
    right: 4rem;
  }
}

@media (max-width: 991px) {
  .hero-right h2 {
    margin-bottom: 2rem;
    margin-right: 0;
    padding-left: 0;
    right: 0;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .hero-right h2 {
    display: none;
  }
}

.hero-right-illustrations {
  height: 54.1rem;
  max-width: 70.6rem;
  position: relative;
  margin-left: -3.6rem;
  margin-bottom: -7.8rem;
  width: 100%;
}

@media (max-width: 1366px) {
  .hero-right-illustrations {
    margin-left: -1.6rem;
  }
}

@media (max-width: 1080px) {
  .hero-right-illustrations {
    max-width: 45rem;
  }
}

@media (max-width: 991px) {
  .hero-right-illustrations {
    height: 42.4rem;
    margin: 0 auto;
    max-width: 51.1rem;
  }
}

@media (max-width: 480px) {
  .hero-right-illustrations {
    height: 27.1rem;
    margin-left: 2rem;
    max-width: 31.7rem;
  }
}

.hero-right-illustrations img {
  position: absolute;
}

.hero-right-illustrations img:nth-child(1) {
  left: 0;
  top: 4.1rem;
  z-index: 3;
}

@media (max-width: 1366px) {
  .hero-right-illustrations img:nth-child(1) {
    left: -10rem;
  }
}

@media (max-width: 1200px) {
  .hero-right-illustrations img:nth-child(1) {
    max-width: 37rem;
    top: 5em;
  }
}

@media (max-width: 1080px) {
  .hero-right-illustrations img:nth-child(1) {
    left: -7rem;
    max-width: 34rem;
    top: 3em;
  }
}

@media (max-width: 991px) {
  .hero-right-illustrations img:nth-child(1) {
    left: -1rem;
    top: 1rem;
  }
}

@media (max-width: 600px) {
  .hero-right-illustrations img:nth-child(1) {
    top: 5rem;
  }
}

@media (max-width: 480px) {
  .hero-right-illustrations img:nth-child(1) {
    top: 2rem;
    width: 21.1rem;
  }
}

.hero-right-illustrations img:nth-child(2) {
  bottom: 4.6rem;
  right: 11.6rem;
  z-index: 2;
}

@media (max-width: 1366px) {
  .hero-right-illustrations img:nth-child(2) {
    max-width: 32rem;
    right: 10rem;
  }
}

@media (max-width: 1200px) {
  .hero-right-illustrations img:nth-child(2) {
    max-width: 31rem;
    right: 11rem;
  }
}

@media (max-width: 1080px) {
  .hero-right-illustrations img:nth-child(2) {
    bottom: 12rem;
    max-width: 27.4rem;
    right: 9rem;
  }
}

@media (max-width: 991px) {
  .hero-right-illustrations img:nth-child(2) {
    bottom: 7.6rem;
    right: 3rem;
  }
}

@media (max-width: 600px) {
  .hero-right-illustrations img:nth-child(2) {
    bottom: 2rem;
    right: 4rem;
  }
}

@media (max-width: 480px) {
  .hero-right-illustrations img:nth-child(2) {
    bottom: 3.3rem;
    right: 2rem;
    max-width: 17rem;
  }
}

.hero-right-illustrations img:nth-child(3) {
  right: 8rem;
  top: 2.8rem;
  z-index: 1;
}

@media (max-width: 1200px) {
  .hero-right-illustrations img:nth-child(3) {
    top: 6rem;
  }
}

@media (max-width: 1080px) {
  .hero-right-illustrations img:nth-child(3) {
    right: 5rem;
    top: 2rem;
  }
}

@media (max-width: 991px) {
  .hero-right-illustrations img:nth-child(3) {
    max-width: 43rem;
    right: 1.3rem;
    top: -2rem;
  }
}

@media (max-width: 600px) {
  .hero-right-illustrations img:nth-child(3) {
    top: 0;
  }
}

@media (max-width: 480px) {
  .hero-right-illustrations img:nth-child(3) {
    max-width: 26.7rem;
    right: 1rem;
  }
}

.features {
  padding-top: 12.9rem;
}

.features .container {
  display: flex;
  justify-content: space-between;
  column-gap: 3.2rem;
}

.features-left {
  max-width: 27.7rem;
  width: 100%;
}

.features-left-mockup {
  margin-bottom: 13rem;
  position: relative;
}

.features-left-mockup img:nth-child(1) {
  position: relative;
  z-index: 1;
}

.features-left-mockup img:nth-child(2) {
  left: -21.4rem;
  max-width: unset;
  position: absolute;
  top: 8.7rem;
}

.features-left-app {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.features-left-app p {
  color: #5f5c6b;
  font-size: 1.6rem;
  text-align: center;
  opacity: 0.8;
}

.features-left-app-icon {
  margin-bottom: 3.6rem;
  position: relative;
}

.features-left-app-icon::before {
  content: '';
  display: block;
  background: url(../../img/points.svg) no-repeat;
  height: 83px;
  left: 50%;
  margin-top: -21px;
  position: absolute;
  top: -83px;
  transform: translateX(-50%);
  width: 5px;
}

.features-left-app-download {
  margin-top: 2.6rem;
}

.features-left-app-download a:not(:first-child) {
  display: block;
  margin-top: 1.3rem;
}

.features-right {
  max-width: 80rem;
  padding-top: 3rem;
  width: 100%;
}

.features-right-infos {
  margin-bottom: 14.4rem;
}

.features-right-infos h2 {
  margin-bottom: 1.6rem;
  max-width: 48.8rem;
}

.features-right-infos ul {
  margin-bottom: 3.2rem;
}

.features-right-infos ul li {
  align-items: flex-start;
  display: flex;
  border-bottom: 1px solid rgba(225, 224, 231, 0.9);
  height: 12.8rem;
  padding: 3.3rem 0 2.9rem;
}

.features-right-infos ul li div {
  margin-left: 4.3rem;
}

.features-right-infos ul li div h3 {
  color: #5f5c6b;
}

.features-right-infos ul li div p {
  color: #7a7786;
}

.features-right-infos > a {
  color: #0073ce;
  letter-spacing: -0.5px;
  line-height: 112%;
  position: relative;
}

.features-right-infos > a::after {
  content: '';
  background-color: #ffc800;
  display: inline-block;
  height: 3px;
  width: 10px;
  margin-left: 8px;
  position: absolute;
  bottom: 0;
}

.features-right-account {
  background: linear-gradient(100.52deg, #00a5f0 5.63%, #03e7e7 95.75%);
  border-radius: 12px;
}

.features-right-account-box {
  display: flex;
  position: relative;
  padding-left: 5.9rem;
  padding-top: 7.9rem;
  padding-bottom: 4rem;
}

.features-right-account-box > div {
  max-width: 34rem;
  width: 100%;
}

.features-right-account-box > div h2,
.features-right-account-box > div h3,
.features-right-account-box > div p {
  color: #fff;
}

.features-right-account-box > div h2 {
  margin-bottom: 1.1rem;
}

.features-right-account-box > div h3 {
  margin-bottom: 0.8rem;
}

.features-right-account-box > div p {
  font-size: 1.6rem;
}

.features-right-account-box > img {
  margin-right: -93px;
  margin-top: -40px;
  position: relative;
  right: -25px;
}

.features-right-account-box-btns {
  margin-top: 3.1rem;
}

.features-right-account-box-btns button {
  padding-left: 35px;
  padding-right: 35px;
}

.features-right-account-box-btns button:not(:first-child) {
  margin-left: 1.6rem;
}

.testimonial {
  padding-top: 13.4rem;
}

.testimonial-top {
  position: relative;
  margin-bottom: 4rem;
}

.testimonial-top h2 span {
  color: #c6c5ce;
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: -1px;
  line-height: 112%;
  margin-bottom: 1.4rem;
}

.testimonial-top .swiper-pagination {
  bottom: 1.5rem;
  left: unset;
  max-width: max-content;
  right: 0;
}

.testimonial-top .swiper-pagination-bullet {
  background-color: #ffdc5c;
  height: 7px;
  transition: 0.3s;
}

.testimonial-top .swiper-pagination-bullet-active {
  border-radius: 12px;
  background-color: #ffc800;
  width: 17.23px;
}

.testimonial-main {
  overflow: hidden;
}

.digital-account {
  padding-bottom: 8.6rem;
  padding-top: 13.4rem;
}

.digital-account .container {
  display: flex;
  justify-content: space-between;
  column-gap: 3.2rem;
}

.digital-account-left {
  max-width: 54.2rem;
}

.digital-account-left h2 {
  margin-bottom: 4.5rem;
}

.digital-account-left h2 span {
  color: #c6c5ce;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  line-height: 112%;
  letter-spacing: -1px;
  margin-bottom: 0.9rem;
  opacity: 0.8;
}

.digital-account-left-list {
  margin-bottom: 4.9rem;
}

.digital-account-left-list li {
  display: flex;
}

.digital-account-left-list li:not(:first-child) {
  margin-top: 3.7rem;
}

.digital-account-left-list-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #00d7d7;
  border-radius: 8px;
  height: 4.5rem;
  margin-right: 2.6rem;
  width: 4.5rem;
}

.digital-account-left-list-text h4 {
  color: #5f5c6b;
  margin-bottom: 0.4rem;
}

.digital-account-left-list-text p {
  color: #7a7786;
}

.digital-account-right {
  height: 59.8rem;
  left: calc(11.8rem - 3.2rem);
  margin-right: -6.9rem;
  max-width: 71.1rem;
  position: relative;
  width: 100%;
}

.digital-account-right img {
  position: absolute;
}

.digital-account-right img:nth-child(1) {
  left: 0.6rem;
  top: 7.8rem;
  z-index: 3;
}

.digital-account-right img:nth-child(2) {
  left: 25.8rem;
  top: 0.3rem;
  z-index: 2;
}

.digital-account-right img:nth-child(3) {
  z-index: 1;
  bottom: 0;
  right: 0;
}
