@import '../config/mixins';

.hero {
  background: url(../../img/hero-bg.jpg) no-repeat;
  background-position: bottom right;
  background-size: cover;
  height: 70rem;
  padding-top: 18.9rem;

  &-content {
    max-width: 74rem;

    &-new {
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 3.3rem;
      font-weight: 400;
      @include flex(center);

      span.flag {
        background-color: $flag-highlight-color;
        border-radius: 120px;
        color: $white;
        display: inline-block;
        font-size: 1.3rem;
        margin-right: 1.2rem;
        min-width: 5.4rem;
        padding: 0.325rem 0.9rem 0.325rem 1.2rem;
        text-align: center;
      }
    }

    h1 {
      color: $white;
      margin-bottom: 2.4rem;
    }

    p:not(.hero-content-new) {
      color: rgba(255, 255, 255, 0.7);
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 4rem;
    }

    button {
      height: 4.8rem;
      @include btn($padding: 1.5rem 4rem);
    }
  }
}

.zero-tariffs {
  padding: 9.6rem 0 8.1rem;

  .container {
    @include flex($justify: space-between);
    gap: 3.2rem;
  }

  &-left {
    max-width: 62.5rem;

    ul {
      @include flex($justify: space-between, $wrap: wrap);
      gap: 6.4rem 1.6rem;

      li {
        width: 50%;
      }
    }
  }

  &-right {
    margin-top: calc(-9.7rem + -7rem);
    max-width: 43.7rem;

    ul {
      @include flex($wrap: wrap);
      gap: 1.8rem;

      li {
        &:first-child {
          position: relative;
          margin-top: 17.4rem;

          &::after {
            content: '';
            border-radius: 40px;
            box-shadow: 40px 55px 14px #49494930;
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
          }

          img {
            z-index: 1;
            position: relative;
          }
        }

        &:last-child {
          margin-top: -17.4rem;
        }

        img {
          border-radius: 10px;
        }
      }
    }
  }

  h3 {
    margin-bottom: 10rem;
  }
}

.products {
  padding-bottom: 13.4rem;

  &-top {
    @include flex(center, space-between);
    margin-bottom: 8.7rem;

    nav ul {
      @include flex(center);
      border: 1px solid #c4c4c4;
      border-radius: 120px;
      gap: 3.2rem;
      padding: 0.8rem 1.1rem;

      li {
        &:first-child {
          button {
            padding: 1.8rem 8.4rem;
          }
        }

        &:last-child {
          button {
            padding: 1.8rem 4.7rem;
          }
        }
      }
    }
  }

  &-main {
    @include flex($justify: space-between);
    background: url(../../img/account-bg.jpg) no-repeat;
    background-size: cover;
    border-radius: 1.2rem;
    max-height: 42.4rem;
    padding: 9.7rem 7.2rem 5.3rem 10.3rem;
    position: relative;

    &-left {
      max-width: 34.1rem;

      strong {
        color: $white;
        display: block;
        font-family: $second-font;
        font-size: 2.4rem;
        font-weight: 600;
        letter-spacing: -0.03rem;
        line-height: 130%;
        margin-bottom: 1.6rem;
      }

      p {
        margin-bottom: 5rem;
      }

      &-approximation {
        @include flex(center);

        span {
          color: $white;
        }

        div {
          @include flex(center, center);
          background-color: $white;
          border-radius: 50%;
          height: 3.2rem;
          margin-right: 1.6rem;
          width: 3.2rem;
        }
      }
    }

    &-right {
      height: 63.7rem;
      margin-top: -9.7rem;
      max-width: 62.2rem;
      position: relative;
      top: -7.9rem;
      width: 100%;

      img {
        position: absolute;

        &:nth-child(1) {
          z-index: 2;
        }

        &:nth-child(2) {
          bottom: 0;
          left: 4rem;
        }

        &:nth-child(3) {
          bottom: 18.7rem;
          right: 0;
        }
      }
    }
  }
}

@include responsive(1080) {
  .hero {
    background-position: 55% 100%;

    &-content {
      @include flex(center, $direction: column);
      margin: auto;

      p,
      h1 {
        text-align: center;
        text-shadow: 1px 1px 4px #00000066;
      }

      p {
        margin-bottom: 1.2rem;
      }
    }
  }
}

@include responsive(991) {
  .hero {
    background: #222;
    padding-bottom: 10.6rem;
    padding-top: 16rem;
    height: auto;

    &-content {
      padding: 0 10px;
    }
  }
}

@include responsive(768) {
  .hero {
    &-content {
      padding: 0;

      &-new span.flag {
        display: none;
      }
    }
  }
}
