// COLORS
$primary-color: #0073ce; // brand-blue
$primary-color-light: #00d7d7; // brand-light-green
$primary-color-normal: #00a5f0; // brand-light-blue
$accent-color: #ffc800;
$accent-color-light: #ffdc5c;
$accent-color-dark: #855b35;

$support-color-100: #f1f0f5;
$support-color-200: #c6c5ce;
$support-color-300: #7a7786;
$support-color-400: #5f5c6b;
$support-color-500: #4e4b59;
$support-color-600: #33303e;

$white: #fff;

// FONTS
$main-font: '';
$second-font: '';
