@import '../config/variables';

@mixin flex(
  $align: false,
  $justify: false,
  $direction: false,
  $wrap: false,
  $setDisplayFlexProperty: true
) {
  @if ($align) {
    align-items: $align;
  }

  @if ($setDisplayFlexProperty) {
    display: flex;
  }

  @if ($direction) {
    flex-direction: $direction;
  }

  @if ($wrap) {
    flex-wrap: wrap;
  }

  @if ($justify) {
    justify-content: $justify;
  }
}

@mixin responsive($deviceWidth) {
  @if ($deviceWidth == 1366) {
    @media (max-width: 1366px) {
      @content;
    }
  }

  @if ($deviceWidth == 1200) {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if ($deviceWidth == 1080) {
    @media (max-width: 1080px) {
      @content;
    }
  }

  @if ($deviceWidth == 991) {
    @media (max-width: 991px) {
      @content;
    }
  }

  @if ($deviceWidth == 768) {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if ($deviceWidth == 680) {
    @media (max-width: 680px) {
      @content;
    }
  }

  @if ($deviceWidth == 600) {
    @media (max-width: 600px) {
      @content;
    }
  }

  @if ($deviceWidth == 480) {
    @media (max-width: 480px) {
      @content;
    }
  }
}

@mixin btn($typeStyle: false, $padding: false) {
  @if ($typeStyle == 'primary') {
    border-radius: 100px;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
    padding: 1.1rem 5rem;
    text-transform: uppercase;
    transition: 0.3s;
  }

  @if ($typeStyle == 'primary') {
    background-color: $accent-color;
    color: $suport-color-200;

    &:hover {
      background-color: $accent-color-hover;
      color: $white;
    }
  }

  @if ($typeStyle == 'black') {
    background-color: $suport-color-200;
    color: $primary-color;

    &:hover {
      background-color: $suport-color-100;
    }
  }

  @if ($typeStyle == 'transparent') {
    background-color: transparent;
    color: $suport-color-200;

    &:hover {
      background-color: $suport-color-100;
      color: $primary-color;
    }
  }

  @if ($typeStyle == 'outline') {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  @if ($padding) {
    padding: $padding;
  }
}
