@import './variables';

*,
*::after,
*::before {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-size: 1.6rem;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

p,
span,
strong,
a {
  font-weight: 500;
  line-height: 150%;
}

p {
  color: $suport-color-100;
}

a {
  font-family: $second-font;
  text-decoration: none;
  transition: 0.3s;
  color: $suport-color-100;

  &:hover {
    color: $accent-color;
  }
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-family: $second-font;
  line-height: 112.5%;
}
