// Colors
$primary-color: #fff;
$accent-color: #ffce2e;

$suport-color-100: #616161; // gray
$suport-color-200: #242424; // black

$white: #fff;

// Fonts
$main-font: 'Inter', arial, sans-serif;
$second-font: 'Montserrat', arial, sans-serif;
