@import '../config/variables';
@import '../config/mixins';

.hero {
  background: url(../../img/bg-hero.svg) no-repeat center center;
  height: 78.6rem;
  padding-top: calc(9.2rem + 8.8rem);

  .container {
    display: flex;
    grid-gap: 32px;
  }

  &-left {
    max-width: 68.3rem;

    &-list {
      @include flex(center, space-between);
      margin-top: 6.4rem;
      max-width: 61.5rem;

      li {
        @include flex(center);
        max-width: 62.1rem;

        .icon {
          @include flex(center, center);
          background: linear-gradient(
            180deg,
            rgba(53, 202, 226, 0.4) 0%,
            rgba(53, 202, 226, 0) 100%
          );
          border-radius: 50%;
          height: 4.8rem;
          width: 4.8rem;
        }

        span {
          color: $white;
          font-size: 1.8rem;
          line-height: 150%;
          margin-left: 1.2rem;
          max-width: 12.7rem;
        }
      }
    }

    h3 {
      color: $white;
      opacity: 0.8;
      line-height: 120%;
      margin-bottom: 3.1rem;
    }

    h1 {
      color: $white;
      margin-bottom: 3.9rem;
    }
  }

  &-right {
    margin-right: -20.5rem;
    width: 100%;

    &-illustrations {
      height: 54.1rem;
      max-width: 70.6rem;
      position: relative;
      margin-left: -3.6rem;
      margin-bottom: -7.8rem;
      width: 100%;

      img {
        position: absolute;

        &:nth-child(1) {
          left: 0;
          top: 4.1rem;
          z-index: 3;
        }

        &:nth-child(2) {
          bottom: 4.6rem;
          right: 11.6rem;
          z-index: 2;
        }

        &:nth-child(3) {
          right: 8rem;
          top: 2.8rem;
          z-index: 1;
        }
      }
    }

    h2 {
      color: #fff;
      display: block;
      font-size: 5.6rem;
      font-weight: 600;
      letter-spacing: -2px;
      line-height: 8.4rem;
      margin-bottom: 6.7rem;
      margin-right: -25px;
      opacity: 0.4;
      position: relative;
      right: -58px;
    }
  }
}

.features {
  padding-top: 12.9rem;

  .container {
    @include flex($justify: space-between);
    column-gap: 3.2rem;

    @include responsive(991) {
      align-items: center;
      flex-direction: column-reverse;
    }
  }

  &-left {
    max-width: 27.7rem;
    width: 100%;

    &-mockup {
      margin-bottom: 13rem;
      position: relative;

      img {
        &:nth-child(1) {
          position: relative;
          z-index: 1;
        }

        &:nth-child(2) {
          left: -21.4rem;
          max-width: unset;
          position: absolute;
          top: 8.7rem;
        }
      }
    }

    &-app {
      @include flex($direction: column, $align: center);

      @include responsive(991) {
        max-width: 27rem;
        padding-top: 6.5rem;
      }

      @include responsive(600) {
        padding-top: 0;
      }

      &-icon {
        margin-bottom: 3.6rem;
        position: relative;

        &::before {
          content: '';
          display: block;
          background: url(../../img/points.svg) no-repeat;
          height: 83px;
          left: 50%;
          margin-top: -21px;
          position: absolute;
          top: -83px;
          transform: translateX(-50%);
          width: 5px;

          @include responsive(991) {
            display: none;
          }
        }
      }

      &-download {
        margin-top: 2.6rem;

        @include responsive(991) {
          margin-top: 4.4rem;
        }

        a:not(:first-child) {
          display: block;
          margin-top: 1.3rem;
        }
      }

      h3 {
        @include responsive(600) {
          font-size: 2.4rem;
        }
      }

      p {
        color: $support-color-400;
        font-size: 1.6rem;
        text-align: center;
        opacity: 0.8;
      }
    }
  }

  &-right {
    max-width: 80rem;
    padding-top: 3rem;
    width: 100%;

    &-infos {
      margin-bottom: 14.4rem;

      h2 {
        margin-bottom: 1.6rem;
        max-width: 48.8rem;
      }

      ul {
        margin-bottom: 3.2rem;

        li {
          @include flex(flex-start);
          border-bottom: 1px solid rgba(225, 224, 231, 0.9);
          padding: 3.3rem 0 2.9rem;

          div {
            flex: 1;
            margin-left: 4.3rem;
            padding-right: 0.8rem;

            h3 {
              color: $support-color-400;
            }

            p {
              color: $support-color-300;
            }
          }
        }
      }

      > a {
        color: $primary-color;
        letter-spacing: -0.5px;
        line-height: 112%;
        position: relative;

        &::after {
          content: '';
          background-color: $accent-color;
          display: inline-block;
          height: 3px;
          width: 10px;
          margin-left: 8px;
          position: absolute;
          bottom: 0;
        }
      }
    }

    &-account {
      background: linear-gradient(
        100.52deg,
        $primary-color-normal 5.63%,
        #03e7e7 95.75%
      );
      border-radius: 12px;

      &-box {
        @include flex();
        position: relative;
        padding-left: 5.9rem;
        padding-top: 7.9rem;
        padding-bottom: 4rem;

        > div {
          max-width: 34rem;
          width: 100%;

          h2,
          h3,
          p {
            color: $white;
          }

          h2 {
            margin-bottom: 1.1rem;
          }

          h3 {
            margin-bottom: 0.8rem;
          }

          p {
            font-size: 1.6rem;
          }
        }

        > img {
          margin-right: -9.3rem;
          margin-top: -4rem;
          position: relative;
          right: -2.5rem;
        }

        &-btns {
          margin-top: 3.1rem;

          button {
            padding-left: 35px;
            padding-right: 35px;

            &:not(:first-child) {
              margin-left: 1.6rem;
            }
          }
        }
      }
    }
  }
}

.testimonial {
  padding-top: 13.4rem;

  @include responsive(991) {
    padding-top: 11rem;
  }

  @include responsive(600) {
    padding-top: 7.6rem;
  }

  &-top {
    position: relative;
    margin-bottom: 4rem;

    @include responsive(991) {
      margin-bottom: 11rem;
    }

    h2 {
      @include responsive(991) {
        text-align: center;
      }

      span {
        color: #c6c5ce;
        display: block;
        font-family: $second-font;
        font-weight: bold;
        font-size: 4rem;
        letter-spacing: -1px;
        line-height: 112%;
        margin-bottom: 1.4rem;
      }
    }

    .swiper-pagination {
      bottom: 1.5rem;
      left: unset;
      max-width: max-content;
      right: 0;

      @include responsive(991) {
        bottom: -5.1rem;
        left: 50%;
        transform: translateX(-50%);
      }

      &-bullet {
        background-color: $accent-color-light;
        height: 7px;
        transition: 0.3s;

        &-active {
          border-radius: 12px;
          background-color: $accent-color;
          width: 17.23px;
        }
      }
    }
  }

  &-main {
    overflow: hidden;
  }
}

.digital-account {
  padding-bottom: 8.6rem;
  padding-top: 13.4rem;

  .container {
    @include flex($justify: space-between);
    column-gap: 3.2rem;

    @include responsive(991) {
      @include flex(center, $direction: column, $setDisplayFlexProperty: false);
    }
  }

  &-left {
    max-width: 54.2rem;

    @include responsive(991) {
      max-width: 63rem;
      margin-bottom: 7.8rem;
    }

    &-list {
      margin-bottom: 4.9rem;

      &-icon {
        @include flex(center, center);
        background-color: $primary-color-light;
        border-radius: 8px;
        height: 4.5rem;
        margin-right: 2.6rem;
        width: 4.5rem;

        @include responsive(600) {
          margin-bottom: 1.6rem;
        }
      }

      &-text {
        h4 {
          color: $support-color-400;
          margin-bottom: 0.4rem;

          @include responsive(600) {
            text-align: center;
          }
        }

        p {
          color: $support-color-300;

          @include responsive(600) {
            text-align: center;
          }
        }
      }

      li {
        @include flex();

        @include responsive(600) {
          @include flex(
            center,
            $direction: column,
            $setDisplayFlexProperty: false
          );
        }

        &:not(:first-child) {
          margin-top: 3.7rem;
        }
      }
    }

    h2 {
      margin-bottom: 4.5rem;

      @include responsive(991) {
        margin-bottom: 5rem;
        text-align: center;
      }

      span {
        color: #c6c5ce;
        display: block;
        font-family: $second-font;
        font-size: 4rem;
        font-weight: bold;
        line-height: 112%;
        letter-spacing: -1px;
        margin-bottom: 0.9rem;
        opacity: 0.8;
      }
    }

    button {
      margin: auto;
      display: block;
    }
  }

  &-right {
    height: 59.8rem;
    left: calc(11.8rem - 3.2rem); // 3.2rem -> gap column
    margin-right: -6.9rem;
    max-width: 71.1rem;
    position: relative;
    width: 100%;

    @include responsive(1200) {
      margin-right: 0;
      left: 0;
    }

    @include responsive(991) {
      max-width: 58.2rem;
    }

    @include responsive(600) {
      height: 468px;
      max-width: 36rem;
    }

    @include responsive(480) {
      max-width: 36rem;
    }

    img {
      position: absolute;

      &:nth-child(1) {
        left: 0.6rem;
        top: 7.8rem;
        z-index: 3;

        @include responsive(991) {
          left: 5.2rem;
        }

        @include responsive(600) {
          left: 0;
          max-width: 16.5rem;
          top: 6.3rem;
        }
      }

      &:nth-child(2) {
        left: 25.8rem;
        top: 0.3rem;
        z-index: 2;

        @include responsive(991) {
          left: 30.5rem;
        }

        @include responsive(600) {
          left: unset;
          max-width: 15.5rem;
          right: 0;
        }
      }

      &:nth-child(3) {
        z-index: 1;
        bottom: 0;
        right: 0;

        @include responsive(1200) {
          right: -5rem;
        }

        @include responsive(991) {
          right: 0;
          transform: rotate(150deg);
          width: 100%;
        }
      }
    }
  }
}

@include responsive(1366) {
  .hero {
    height: 73rem;

    &-right {
      margin-right: -10rem;

      &-illustrations {
        margin-left: -1.6rem;

        img {
          &:nth-child(1) {
            left: -10rem;
          }

          &:nth-child(2) {
            max-width: 32rem;
            right: 10rem;
          }
        }
      }

      h2 {
        font-size: 4.5rem;
        margin-bottom: 1rem;
        padding-left: 2rem;
        right: 0;
      }
    }
  }
}

@include responsive(1200) {
  .hero {
    &-left {
      max-width: 66rem;

      &-list {
        max-width: 57rem;
      }
    }

    &-right {
      margin-right: -15rem;

      &-illustrations {
        img {
          &:nth-child(1) {
            max-width: 37rem;
            top: 5em;
          }

          &:nth-child(2) {
            max-width: 31rem;
            right: 11rem;
          }

          &:nth-child(3) {
            top: 6rem;
          }
        }
      }

      h2 {
        font-size: 4rem;
        right: 4rem;
      }
    }
  }

  .features {
    &-right {
      &-account {
        &-box {
          @include flex(center, space-between, $setDisplayFlexProperty: false);
          padding-left: 3rem;
          padding-top: 3.9rem;

          > img {
            margin-right: -6.7rem;
            max-width: 34.3rem;
            right: 0;
          }
        }
      }
    }
  }
}

@include responsive(1080) {
  .hero {
    height: 63rem;
    padding-top: calc(5.5rem + 8.8rem);

    &-left {
      max-width: 59rem;

      &-list {
        span {
          font-size: 1.6rem;
        }
      }
    }

    &-right {
      &-illustrations {
        max-width: 45rem;

        img {
          &:nth-child(1) {
            left: -7rem;
            max-width: 34rem;
            top: 3em;
          }

          &:nth-child(2) {
            bottom: 12rem;
            max-width: 27.4rem;
            right: 9rem;
          }

          &:nth-child(3) {
            right: 5rem;
            top: 2rem;
          }
        }
      }
    }
  }
}

@include responsive(991) {
  .hero {
    background-size: cover;
    height: 89.1rem;
    padding-top: calc(6.2rem + 8.8rem);

    &-left {
      @include flex(center, $direction: column);
      max-width: 100%;

      &-list {
        margin-top: 3.9rem;
        max-width: 58.8rem;
        width: 100%;

        li {
          .icon {
            height: 4.3rem;
            width: 4.3rem;
          }
        }
      }

      h3 {
        font-size: 1.8rem;
        margin-bottom: 2.4rem;
        text-align: center;
      }

      h1 {
        margin-bottom: 2.6rem;
        max-width: 68.5rem;
        padding-right: 0;
        text-align: center;
      }
    }

    &-right {
      &-illustrations {
        height: 42.4rem;
        margin: 0 auto;
        max-width: 51.1rem;

        img {
          &:nth-child(1) {
            left: -1rem;
            top: 1rem;
          }

          &:nth-child(2) {
            bottom: 7.6rem;
            right: 3rem;
          }

          &:nth-child(3) {
            max-width: 43rem;
            right: 1.3rem;
            top: -2rem;
          }
        }
      }

      h2 {
        margin-bottom: 2rem;
        margin-right: 0;
        padding-left: 0;
        right: 0;
        text-align: center;
      }
    }

    .container {
      grid-row-gap: 4.5rem;
      flex-direction: column;
    }
  }

  .features {
    padding-top: 15.3rem;

    &-left {
      @include flex($justify: space-between);
      column-gap: 1.6rem;
      max-width: 63rem;
      width: 100%;

      &-mockup {
        margin-bottom: 0;

        img {
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }

    &-right {
      max-width: 100%;
      padding-top: 0;

      &-infos {
        h2 {
          margin-bottom: 2rem;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
        }

        ul {
          margin-bottom: 4rem;

          li {
            div {
              margin-left: 3rem;
            }
          }
        }

        > a {
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: max-content;
        }
      }

      &-account {
        margin: 0 auto 10rem;
        max-width: 68.8rem;
      }
    }
  }
}

@include responsive(768) {
  .features {
    &-right {
      &-account {
        margin-bottom: 9.3rem;

        &-box {
          > div {
            h2 {
              font-size: 3.2rem;
            }
          }
        }
      }
    }
  }
}

@include responsive(680) {
  .features {
    &-right {
      &-account {
        margin-bottom: 9.3rem;

        &-box {
          > div {
            h3 {
              font-size: 2rem;
            }
          }

          > img {
            max-width: 30rem;
          }

          &-btns {
            button {
              padding-left: 32px;
              padding-right: 32px;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}

@include responsive(600) {
  .hero {
    &-left {
      &-list {
        flex-direction: column;
        max-width: 100%;

        li {
          span {
            max-width: 100%;
            min-width: 21rem;
          }
        }

        br {
          display: none;
        }
      }
    }

    &-right {
      &-illustrations {
        img {
          &:nth-child(1) {
            top: 5rem;
          }

          &:nth-child(2) {
            bottom: 2rem;
            right: 4rem;
          }

          &:nth-child(3) {
            right: 0;
            top: 0;
          }
        }
      }

      h2 {
        display: none;
      }
    }
  }

  .features {
    &-left {
      align-items: center;
      flex-direction: column-reverse;

      &-mockup {
        max-height: 50.3rem;
        margin-top: 4rem;
        overflow: hidden;
      }
    }

    &-right {
      margin-bottom: 4rem;

      &-infos {
        margin-bottom: 5.7rem;

        ul {
          li {
            div {
              margin-left: 2.3rem;

              h3 {
                margin-bottom: 0.7rem;
              }

              p {
                font-size: 1.4rem;
              }
            }
          }
        }
      }

      &-account {
        &-box {
          flex-direction: column;
          padding: 4.3rem 2.7rem 0;

          > div {
            margin-bottom: 4.5rem;
            max-width: 100%;

            h2,
            h3,
            p {
              text-align: center;
            }

            h2 {
              font-size: 2.8rem;
              margin-bottom: 1.4rem;
            }
          }

          > img {
            margin-bottom: -11rem;
            margin-right: 0;
            max-width: 125%;
          }

          &-btns {
            @include flex($justify: center);
          }
        }
      }
    }
  }
}

@include responsive(480) {
  .hero {
    height: 73.6rem;
    padding-top: calc(5.1rem + 7.3rem);

    &-left {
      &-list {
        li {
          &:not(:first-child) {
            margin-top: 1rem;
          }

          .icon {
            background: transparent;
            height: 3rem;
            width: 1.8rem;
          }

          span {
            margin-left: 1.8rem;
          }
        }
      }

      h3 {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
      }

      h1 {
        margin-bottom: 3.7rem;
      }
    }

    &-right {
      &-illustrations {
        height: 27.1rem;
        max-width: 31.7rem;

        img {
          &:nth-child(1) {
            top: 2rem;
            width: 21.1rem;
          }

          &:nth-child(2) {
            bottom: 3.3rem;
            right: 2rem;
            max-width: 17rem;
          }

          &:nth-child(3) {
            max-width: 26.7rem;
            right: 1rem;
          }
        }
      }
    }
  }

  .features {
    padding-top: 8.6rem;
  }
}
