@import '../config/variables';

.header {
  height: 7.2rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;

  @include flex();

  &-left {
    @include flex(center);

    &-logo {
      background-image: url(../img/icon/logo-white.svg);
      background-repeat: no-repeat;
      background-position: center center;
      height: 24px;
      display: block;
      margin-right: 20rem;
      width: 120px;
    }

    nav {
      ul {
        @include flex(center);
      }

      li {
        &.has-submenu {
          &:hover .submenu {
          animation: animaSubMenu 0.3s forwards;
            display: flex;
          }
        }

        & + li {
          margin-left: 6.6rem;
        }

        a {
          color: rgba(255, 255, 255, 0.7);
          padding: 6px 0;
          @include flex(center);

          &::after {
            content: '';
            background: url(../../img/icon/triangle.svg) no-repeat;
            display: inline-block;
            height: 6px;
            margin-left: 1.2rem;
            width: 7.5px;
          }
        }
      }
    }
  }

  &-right {
    @include flex(center);

    button.btn-mobile {
      background-color: transparent;
      border: none;
      border-radius: 0;
      margin-left: 2.4rem;
      padding: 5px;
      display: none;

      span {
        background-color: $white;
        border-radius: 2px;
        height: 3px;
        width: 28px;
        display: block;
        margin-left: auto;

        &:nth-child(2) {
          width: 32px;
        }

        &:nth-child(3) {
          width: 28px;
        }

        + span {
          margin-top: 8px;
        }
      }
    }
  }

  &.active {
    animation: animaMenuFixed 0.4s forwards;
    background-color: $white;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.18);
    position: fixed;
    transition: 0.3s;

    .header {
      &-left {
        &-logo {
          background-image: url(../img/icon/logo-dark.svg);
        }

        nav li.has-submenu > a {
          color: $suport-color-100;
        }
      }

      &-right button.btn-mobile span {
        background-color: $black;
      }
    }
  }

  .submenu {
    background-color: $black;
    border-radius: 4px;
    display: none;
    flex-direction: column;
    padding: 12px 0;
    position: absolute;
    opacity: 0;
    width: 128px;

    &.active {
      animation: animaSubMenu 0.3s forwards;
      display: flex;
      opacity: 1;
    }

    li {
      width: 100%;

      & + li {
        margin-left: 0;
        margin-top: 6px;
      }

      a {
        color: $white;
        font-size: 1.4rem;
        padding: 6px 10px;
        width: 100%;

        &::after {
          content: unset;
        }
      }
    } 
  }

  .container {
    @include flex(center, space-between);
  }
}

@include responsive(1080) {
  .header {
    &-left {
      &-logo {
        margin-right: 17rem;
      }

      nav {
        display: none;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        &.active {
            display: flex;
            background-color: rgba(0, 0, 0, 0.7);
            width: 100%;
            height: 100vh;
            z-index: 999;
        }

        ul {
          align-items: flex-start;
          background: $white;
          flex-direction: column;
          height: 100vh;
          padding: 10rem 3rem 1.5rem 1.5rem;
          width: 270px;
        }

        li {
          &.has-submenu {
            width: 100%;

            &:hover .submenu {
              animation: unset !important;
            }
          }

          + li {
            margin-left: 0;
            margin-top: 2rem;
          }

          a {
            color: $suport-color-100;
          }
        }
      }
    }

    &-right {
      button.btn-mobile {
        display: block;
      }
    }

    &-mobile-active {
      .header-left-logo {
        z-index: 9999;
        background-image: url(../img/icon/logo-dark.svg);
      }

      .header-right {
        z-index: 9999;
      }
    }

    &-mobile-active.active {
      .header-right {
        button.btn-mobile span {
          background-color: $white;
        }
      }
    }

    .submenu {
      animation: unset !important;
      background-color: $white;
      display: none !important;
      height: auto;
      position: relative;
      width: 100%;

      &.active {
        display: flex !important;
      }

      li {
        + li {
          margin-top: 12px;
        }

        a {
          color: $suport-color-100;
        }
      }
    }
  }
}

@include responsive(991) {
  .header {
    height: 8.8rem;

    &-left {
      &-logo {
        margin-right: 0;
      }
    }
  }
}

@include responsive(600) {
  .header {
    &-right {
      button:not(.btn-mobile) {
        display: none;
      }
    }
  }
}
