.header {
  background-color: $primary-color;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  height: 8.8rem;

  .container {
    @include flex(center, space-between);
  }

  nav,
  nav ul {
    @include flex(center, space-between);
  }

  nav {
    ul {
      margin-right: 5.9rem;

      li {
        &:not(:first-child) {
          margin-left: 4.8rem;
        }
      }

      a {
        font-weight: 500;
        color: $white;
        line-height: 125%;
      }
    }

    button {
      line-height: 125%;
      padding: 1rem 1.8rem;
    }
  }
}
