.header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  height: 8.8rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &-logo {
    @include responsive(768) {
      max-width: 10.8rem;
    }
  }

  &-btn-mobile {
    display: none;
    margin-left: 4rem;

    @include responsive(991) {
      display: block;
    }

    @include responsive(600) {
      margin-left: 2rem;
    }
  }

  .container {
    @include flex(center, space-between);
  }

  nav,
  nav ul {
    @include flex(center, space-between);
  }

  nav {
    ul {
      margin-right: 5.9rem;

      @include responsive(1200) {
        margin-right: 3rem;
      }

      @include responsive(991) {
        display: none;
      }

      li {
        &:not(:first-child) {
          margin-left: 4.8rem;

          @include responsive(1200) {
            margin-left: 3.5rem;
          }
        }
      }

      a {
        font-weight: 500;
        color: $white;
        line-height: 125%;
      }
    }

    button {
      line-height: 125%;
      padding: 1rem 1.8rem;

      @include responsive(480) {
        display: none;
      }
    }
  }
}
